/* //////////// Cloud animation //////////// */
body {
    overflow-x: hidden;
    /* hide side scrolling */
}

#clouds1 {
    height: 30vw;
    width: 100%;
    /* Use border as sizing reference */
    /* border: 2px solid blue; */
    
    position: absolute;
}

#clouds1 {
    top: 22vw;
}

.cloud {
    width: 15%;
    height: 5vw;
    background: rgba(243, 237, 237, 1);
    /* Use to size cloud div */
    /* border: 1px solid red;*/

    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;

    position: relative;
    /* relative position to contain psuedo-elements */
}

/* Loading positions in container */
#clouds1 .cloud:nth-child(1) {
    left: 40%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.8;
    -webkit-animation: moveclouds 17s ease-in infinite;
    -moz-animation: moveclouds 17s ease-in infinite;
    -o-animation: moveclouds 17s ease-in infinite;
    animation: moveclouds 17s ease-in infinite;
}

#clouds1 .cloud:nth-child(2) {
    left: 15%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.65;
    -webkit-animation: moveclouds 19s ease-in infinite;
    -moz-animation: moveclouds 19s ease-in infinite;
    -o-animation: moveclouds 19s ease-in infinite;
    animation: moveclouds 19s ease-in infinite;
}

#clouds1 .cloud:nth-child(3) {
    left: 80%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.8;
    -webkit-animation: moveclouds 18s ease-in infinite;
    -moz-animation: moveclouds 18s ease-in infinite;
    -o-animation: moveclouds 18s ease-in infinite;
    animation: moveclouds 18s ease-in infinite;
}

#clouds1 .cloud:nth-child(4) {
    left: 35%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.7;
    -webkit-animation: moveclouds 19s ease-in infinite;
    -moz-animation: moveclouds 19s ease-in infinite;
    -o-animation: moveclouds 19s ease-in infinite;
    animation: moveclouds 19s ease-in infinite;
}

#clouds1 .cloud:nth-child(5) {
    left: 8%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.7;
    -webkit-animation: moveclouds 17s ease-in infinite;
    -moz-animation: moveclouds 17s ease-in infinite;
    -o-animation: moveclouds 17s ease-in infinite;
    animation: moveclouds 17s ease-in infinite;
}

#clouds1 .cloud:nth-child(6) {
    left: 60%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
    -webkit-animation: moveclouds 16s ease-in infinite;
    -moz-animation: moveclouds 16s ease-in infinite;
    -o-animation: moveclouds 16s ease-in infinite;
    animation: moveclouds 16s ease-in infinite;
}

/* Cloud psuedo element fluffs */

.cloud:before,
.cloud:after {
    content: "";
    position: absolute;
    background: rgba(243, 237, 237, 1);
    /* border: 2px solid black; */
    position: absolute;

    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.cloud:before {
    width: 45%;
    height: 140%;
    top: -30%;
    left: 10%;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
}

.cloud:after {
    width: 60%;
    height: 180%;
    top: -70%;
    right: 10%;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

/* Animation keyframes */

@-webkit-keyframes moveclouds {
    0% {
        -webkit-transform: scale(0) translateX(0%);
    }

    2% {
        -webkit-transform: scale(0.1);
    }

    4% {
        -webkit-transform: scale(0.3);
    }

    6% {
        -webkit-transform: scale(0.5);
    }

    8% {
        -webkit-transform: scale(0.7);
    }

    100% {
        -webkit-transform: scale(1) translateX(-500%);
        opacity: 1;
    }
}

@-moz-keyframes moveclouds {
    0% {
        -moz-transform: scale(0) translateX(0%);
    }

    2% {
        -moz-transform: scale(0.1);
    }

    4% {
        -moz-transform: scale(0.3);
    }

    6% {
        -moz-transform: scale(0.5);
    }

    8% {
        -moz-transform: scale(0.7);
    }

    100% {
        -moz-transform: scale(1) translateX(-500%);
        opacity: 1;
    }
}

@-o-keyframes moveclouds {
    0% {
        -o-transform: scale(0) translateX(0%);
    }

    2% {
        -o-transform: scale(0.1);
    }

    4% {
        -o-transform: scale(0.3);
    }

    6% {
        -o-transform: scale(0.5);
    }

    8% {
        -o-transform: scale(0.7);
    }

    100% {
        -o-transform: scale(1) translateX(-500%);
        opacity: 1;
    }
}

@keyframes moveclouds {
    0% {
        transform: scale(0) translateX(0%);
    }

    2% {
        transform: scale(0.1);
    }

    4% {
        transform: scale(0.3);
    }

    6% {
        transform: scale(0.5);
    }

    8% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1) translateX(-500%);
        opacity: 1;
    }
}

@media screen and (min-width: 500px) {
    #clouds1 {
        top: 20vw;
    }
}