@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Nanum+Gothic");

@font-face {
  font-family: "ITCAvantGardePro-Bk";
  font-style: normal;
  font-weight: normal;
  src: local("fonts/ITCAvantGardePro-Bk"), url("fonts/ITCAvantGardePro-Bk.woff") format("woff");
}

/*
font-family: 'Major Mono Display', monospace;
font-family: 'Nanum Gothic', sans-serif;

smooth selector transitions, :active, slow open?

if button disabled or enabled 
:disabled  or :enabled 

News articles still show alt-text
need to hide images if there is a null image source 
Or no image source

Fix accidental zoom of map (move to bottom? make map part of slide out menu?)

Finish creating all proposed display vectors 
Use grid 
Place city vector above map 
Place news in side-menu (click to expand): pulse animation?

use 'sticky clouds', scroll attachment and combining multiple backgrounds 
file:///home/solomon/Odin/test5.html 
             and 
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Using_multiple_backgrounds
*/

/* General Styles */
* {
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top,
    #010414 6%,
    #3f51b1 7%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%);
}

main {
  margin: 0;
  padding: 0;
}

header,
.input,
.results1,
#results2,
#results3,
footer {
  text-align: center;
}

header img {
  width: 75%;
  height: 38vw;
  object-fit: cover;
  object-position: center bottom;
}

#mapid {
  height: 480px;
}

#results3 img {
  height: 100px;
}

/* Buttons + labels */
button:disabled {
  color: white;
  background: rgba(32, 30, 30, 0.726);
  border: none;
  opacity: 0.6;
}

button {
  height: 55px;
}

#results2 button {
  margin-bottom: 30px;
}

#results3 button {
  margin-bottom: 150px;
}

/* Font starter */
div h2,
div h3,
form {
  font-family: "ITCAvantGardePro-Bk";
}

.results1 h2,
.input h2 {
  font-weight: bolder;
  font-size: 10vw;
}

.tabs h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

label,
select,
select option,
button {
  font-family: "ITCAvantGardePro-Bk";
  font-weight: lighter;
  font-size: 22px;
}

select {
  padding: 15px;
  background: black;
  color: white;
  text-align-last: center;
  border: 2px solid white;
}

p {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

footer {
  font-family: "ITCAvantGardePro-BK";
  font-weight: bold;
  color: white;
}

/* Header */
header h1 {
  font-family: "Major Mono Display", monospace;
  line-height: 1.15;
}

h1 .top {
  font-size: 5.5vw;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
}

h1 .bottom {
  font-family: "Major Mono Display", monospace;
  font-size: 5vw;
}

/* Form positioning */

form {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
    ". l1 ."
    ". country ."
    ". l2 ."
    ". regions ."
    ". l3 ."
    ". city ."
    ". search .";
}

.label1 {
  grid-area: l1;
}

.label2 {
  grid-area: l2;
}

.label3 {
  grid-area: l3;
}

#country {
  grid-area: country;
}

#region {
  grid-area: regions;
}

#city {
  grid-area: city;
}

.searchBtn {
  grid-area: search;
  margin-top: 15px;
}

/* Tabs menu */
.results1 a {
  padding: 20px 20px 10px;
  font-size: 17px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  background: #010414;
  color: white;
  margin-top: 30px;
  border-top: 2px solid rgba(245, 239, 239, 0.425);
  border-left: 2px solid rgba(245, 239, 239, 0.425);
  border-right: 2px solid rgba(245, 239, 239, 0.425);
  border-bottom: 3px solid #010414;
}

.results1 a[href="#results3"] {
  opacity: 0.8;
  border-bottom: 2px solid rgba(245, 239, 239, 0.425);
}

.results1 {
  margin-bottom: 10px;
}

.results1 p {
  margin: 20px 20%;
  font-size: 25px;
}

.tabs div {
  display: none;
}

.tabs button {
  border: 2px solid white;
  color: white;
  background: none;
  padding: 5px;
}

.tabs button:hover {
  background: white;
  color: black;
}

.tabs div:target {
  border-top: 2px solid rgba(245, 239, 239, 0.425);
  display: block;
}

/* Wiki BlockQuote */
#results2 h2 {
  margin-bottom: 5px;
}

blockquote {
  font-size: 17px;
  width: 95%;
  margin: 0px auto 15px;
  font-family: "Nanum Gothic", sans-serif;
  color: #eee3e3;
  padding: 12px 40px;
  border-left: 8px solid #ffffff;
  line-height: 1;
  position: relative;
  background: rgba(91, 100, 155, 0.247);
}

blockquote::before {
  font-family: "Nanum Gothic", sans-serif;
  content: "\201C";
  color: #ffffff;
  font-size: 50px;
  position: absolute;
  left: 15px;
  top: 10px;
}

blockquote::after {
  content: "";
}

blockquote span {
  color: #ccb800;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

/* Expanding wiki iframe */
#results2 {
  height: 303.5px;
  overflow: visible;
  color: white;
  background: #010414;
}

#wikiFrame {
  height: 0px;
  width: 100%;
  display: block;
}

/* Expanding news results */
#results3 {
  overflow: hidden;
  height: 303.5px;
  color: white;
  background: #010414;
}

#results3 p {
  margin: auto 25%;
}

@media screen and (min-width: 510px) {

  .results1 h2,
  .input h2 {
    font-weight: bolder;
    font-size: 55px;
  }

  label,
  select,
  select option,
  button {
    font-family: "ITCAvantGardePro-Bk";
    font-weight: lighter;
    font-size: 30px;
  }

  .results1 a {
    font-size: 30px;
  }

  /* Wiki BlockQuote */
  #results2 h2 {
    margin-bottom: 5px;
  }

  blockquote {
    font-size: 20px;
    width: 90%;
    margin: 0px auto 15px;
    font-family: "Nanum Gothic", sans-serif;
    color: #eee3e3;
    padding: 12px 40px;
    border-left: 8px solid #ffffff;
    line-height: 1;
    position: relative;
    background: rgba(91, 100, 155, 0.247);
  }

  blockquote::before {
    font-family: "Nanum Gothic", sans-serif;
    content: "\201C";
    color: #ffffff;
    font-size: 50px;
    position: absolute;
    left: 15px;
    top: 10px;
  }

  blockquote::after {
    content: "";
  }

  blockquote span {
    color: #ccb800;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
  }
}

@media screen and (min-width: 700px) {
  form {
    display: grid;
    grid-template-columns: 1.5fr 3fr 3fr 1.5fr;
    grid-gap: 5px;
    grid-template-areas:
      ". l1 l1 ."
      ". country country ."
      ". l2 l3 ."
      ". regions city ."
      ". search search .";
  }
}

@media screen and (min-width: 1095px) {
  form {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
      ". l1 l1 ."
      ". country country ."
      ". l2 l3 ."
      ". regions city ."
      ". search search .";
  }

  .results1 a {
    font-size: 40px;
  }

  /* Wiki BlockQuote */
  blockquote {
    font-size: 22px;
    width: 60%;
    margin: 0 auto 15px;
    font-family: "Nanum Gothic", sans-serif;
    color: #eee3e3;
    padding: 15px 40px;
    border-left: 8px solid #ffffff;
    line-height: 1.05;
    position: relative;
    background: rgba(91, 100, 155, 0.247);
  }

  blockquote::before {
    font-family: "Nanum Gothic", sans-serif;
    content: "\201C";
    color: #ffffff;
    font-size: 60px;
    position: absolute;
    left: 2%;
    top: 2%;
  }

  blockquote::after {
    content: "";
  }

  blockquote span {
    color: #ccb800;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
  }
}