@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Nanum+Gothic");
@font-face {
  font-family: "ITCAvantGardePro-Bk";
  font-style: normal;
  font-weight: normal;
  src: local("fonts/ITCAvantGardePro-Bk"), url("fonts/ITCAvantGardePro-Bk.woff") format("woff");
}

/*
font-family: 'Major Mono Display', monospace;
font-family: 'Nanum Gothic', sans-serif;

smooth selector transitions, :active, slow open?

if button disabled or enabled 
:disabled  or :enabled 

News articles still show alt-text
need to hide images if there is a null image source 
Or no image source

Fix accidental zoom of map (move to bottom? make map part of slide out menu?)

Finish creating all proposed display vectors 
Use grid 
Place city vector above map 
Place news in side-menu (click to expand): pulse animation?

use 'sticky clouds', scroll attachment and combining multiple backgrounds 
file:///home/solomon/Odin/test5.html 
             and 
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Using_multiple_backgrounds
*/

/* General Styles */
* {
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 0;
  padding: 0;
}

header,
.input,
.results1,
#results2,
#results3,
footer {
  text-align: center;
}

header img {
  width: 75%;
  height: 38vw;
  object-fit: cover;
  object-position: center bottom;
}

#mapid {
  height: 480px;
}

#results3 img {
  height: 100px;
}
/* Buttons + labels */
button {
  height: 50px;
}

#results2 button {
  margin-bottom: 30px;
}

#results3 button {
  margin-bottom: 150px;
}

/* Fonts mobile */
div h2,
div h3,
form {
  font-family: "ITCAvantGardePro-Bk";
}
.results1 h2,
.input h2 {
  font-weight: bolder;
  font-size: 10vw;
}
.tabs h2 {
  font-size: 30px;
}
h3 {
  font-weight: bold;
}

label,
select,
select option,
button {
  font-family: "ITCAvantGardePro-Bk";
  font-weight: lighter;
}
p {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: normal;
}
footer {
  font-family: "ITCAvantGardePro-BK";
  font-weight: bold;
}

/* Header */
header h1 {
  font-family: "Major Mono Display", monospace;
  line-height: 1.15;
}
h1 .top {
  font-size: 5.5vw;
  font-family: "Major Mono Display", monospace;
  font-weight: bold;
}
h1 .bottom {
  font-family: "Major Mono Display", monospace;
  font-size: 5vw;
}

/* Slide out menu */
.tabs div {
  display: none;
}

.tabs div:target {
  border: 2px solid black;
  display: block;
}

/* Expanding wiki iframe */
#wikiFrame {
  height: 0px;
  width: 100%;
  display: block;
}

/* Expanding news results */
#results3 {
  overflow: hidden;
  height: 303.5px;
}

@media screen and (min-width: 510px) {
  .results1 h2,
  .input h2 {
    font-weight: bolder;
    font-size: 55px;
  }
}
